SEPOLIA_RPC_URL=
BASE_SEPOLIA_RPC_URL=
ARBITRUM_SEPOLIA_RPC_URL=

PRIVATE_KEY=
ALICE_PRIVATE_KEY=
REVIEWER_PRIVATE_KEY=
BOB_PRIVATE_KEY=

IDENTITY_REGISTRY=
IP_ASSET_REGISTRY=
EVIDENCE_REGISTRY=
LICENSE_ESCROW= 
